@charset "utf-8";
/* CSS Document */
html{
	height : 100%;
	width : 100%;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color:gainsboro;
	color:black;
    margin: 0;
    padding: 0;
}
h1{
	text-align: center;
	font-family: "orbitron";
	color: black;
	font-size: 6vw;
	padding-left: 2px;
}
.navbar{
	width: 100%;
	display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;
	text-align: left;
	font-size: 2.3vw;
	font-family: orbitron;
	background-color: #333;
	padding: 7px;
	overflow: hidden; 
}
.navbar a{
	display: inline-block;
	width: 19%;
	text-align: center;
	color: aliceblue;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: all 0.3s ease;
	background-color: black;
	margin-left: 1%;
	float: left;
	
}
.navbar a:hover{
	background-color:gainsboro;
	color: black;
}


header {
	font-family: orbitron;
	background-color:rgb(174, 177, 180);
	color:black;
	padding: 20px;
	text-align: right;
}
footer {
	background-color:black;
	color: rgb(199, 191, 191);
	padding: 15px;
	margin-top: 15px;
}
h2{
	font-family: "orbitron";
	padding-left: 8px;
}
h3{
	font-family: "orbitron";
}
p{
	padding-left: 16px;
}
.link{
	padding-left: 16px;
}
.footergrid{
	display: grid;
	grid-template-columns: 34vw 30vw 30vw;
	gap: 2vw;
	justify-content: right;
}
.footergrid > div{
	vertical-align: middle;
	justify-content: right;
}